{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/terms_and_conditions.css' %}"/>
{% endblock %}

{% block content %}
<div class = "RoundedCorner"> <p style = "color:#EBA550; font-size: 80px; font-family: Fabula Valhalla; text-align:center; " > Terms & Conditions </p> 

    

   <h1 style = "color:white; font-size: 45px"> <br> Anti Discrimination Laws</h1> 
   <p style = "color: white; font-size: 30px; font-family: Fabula Valhalla" > At Marss we do not allow discriminatation of any form. It is an obligation of users to abstain from racism, xenophobia, homophobia and sexism amongst many others. If you encounter another user commenting or posting offensive content of this kind, please report them so we can take action. </p>

   <h1 style = "color: white; font-size: 45px"><br> Copyright Laws </h1>
   <p style = "color: white; font-size: 30px; font-family: Fabula Valhalla" > At Marss we have a zero-tolerance policy to copying the work of other users, and stealing their intellectual property. Users found to have done must be reported immediately. </p>

   <h1 style = "color: white; font-size: 45px"> <br>Action against users who have violate the Marss Terms and Conditions </h1>
   <p style = "color: white; font-size: 30px; font-family: Fabula Valhalla" > Users found to have violated the Marss Terms and conditions will be penalised according to the following rules:  <ul style = "color: white; font-size: 30px; font-family:Fabula Valhalla"> <br><li> Minor Discrimination - Users found to have engaged in discrimination that is deemed 'minor' by our Ethics Department, will have their post or comment deleted and recieve a strike for their actions. 3 strikes will result in their account being deleted.</li> <li> Users found to have engaged in discrimination that is deemed 'severe' by our Ethics Department will have their account deleted immediately.  </li> <li> Users found to have violated our Laws regarding Copyright will have their account deleted immediately. </li> </ul> </p> 
</div>

{% endblock %}