<footer class="footer">
    <div class="footer-container">
        <div class="logo-container">
            <p class="footer-logo">MARSS</p>
            <p class="footer-text">Copyright &copy; 2021<br>All rights reserved</p>
        </div>
        <div class="contact-container">
            <p class="footer-section">CONTACT</p>
            <a href="tel:+447551730195" class="footer-links">+44 7551730195</a>
            <a href="mailto:marss.project.y8@gmail.com" class="footer-links">marss.project.y8@gmail.com</a>
        </div>
        <div class="links-container">
            <p class="footer-section">QUICK LINKS</p>
            <a href="{% url 'about' %}" class="footer-links">About us</a>
            <a href="{% url 'loginPage' %}" class="footer-links">Login</a>
            <a href="{% url 'registerPage' %}" class="footer-links">Register</a>
        </div>
    </div>

    <div class="footer-about">
        <p>&copy; Tutor Group Y8 | The University of Manchester</p>
    </div>
</footer>
